* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
:root {
  --primary-color: #3c0753;
  --secondary-color: #720455;
  --third-color: #910a67;
  --fourth-color: #030637;
  --button-color: #ff004d;
  --visited-links-color: #424247;
  --span-color: #ed2b2a;
  --title-text-color: #131318;
}
body {
  max-width: 1442px;
  background-color: #fff;
}
.content-title {
  color: #131318;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 800;
  margin: 5px;
}
.content-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
.primary-btn {
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 8px;
  background-color: var(--button-color);
  width: 160px;
  height: 52px;
  padding: 16px auto;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
}
.hide-content {
  display: none;
  visibility: hidden;
}

/* header section starts here */
.nav-container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon-div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-icon-div img {
  width: 50px;
  height: 50px;
}
.nav-links > ul {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}
.nav-links li {
  list-style: none;
  margin-right: 30px;
}
.nav-links li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.nav-links li a:visited {
  color: var(--visited-links-color);
}
.nav-links li a:hover {
  color: #ff004d;
  border-bottom: 2px solid #ff004d;
}
.nav-title {
  color: var(--title-text-color);
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}
.nav-span {
  color: var(--span-color);
  font-size: 2rem;
  font-weight: 800;
}

/* banner section starts.. */
.banner-container {
  width: 80%;
  margin: 30px auto;
}
/* Explore Travel style */
.explore-travel-div {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;

  width: 100%;
  margin: 0 auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.explore-travel-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.explore-title {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 800;
  flex-wrap: nowrap;
  width: 70%;
  margin-bottom: 15px;
}
.explore-description {
  width: 600px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.dropdown-div {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 70%;
  height: 80px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.dropdown-item {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: 0;
  padding: 16px;
  color: rgba(19, 19, 24, 0.5);

  font-size: 1rem;
  font-weight: 400;
}
.dropdown-div input[type="text"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff004d;
}
.find-now-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 8px;
  background-color: var(--button-color);
  width: 160px;
  height: 52px;
  padding: 16px auto;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
/* Popular tour section*/
.popular-tour-container {
  width: 100%;
  height: 84vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 30px auto;
}
.tour-content {
  width: 50%;
  height: 500px;
  padding: 20px;
  justify-content: left;
}
.tour-title,
.tour-description,
.tour-content li {
  text-align: left;
  margin-bottom: 10px;
}
.our-services {
  margin-bottom: 20px;
}
.tour-image-div {
  height: auto;
  justify-content: center;
}
.tour-image-div img {
  width: 100%;
  max-height: 450px;
}

/* Choose Destination section */
.destination-container {
  width: 80%;
  height: auto;
  margin: 15px auto;
  border: 2px solid teal;
  display: flex;
  flex-direction: column;
}

.destination-content {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  padding: 0px auto 12px auto;
}

.destination-text {
  height: 200px;
  width: 100%;
  margin-top: 10px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.image-item img {
  width: 100%;
}

.destination-name {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Why chose us */
.chose-us-section {
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.chose-us-content {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  padding: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.card-container {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.card {
  width: 100%;
  height: 250px;
  border-radius: 16px;
  background: rgba(233, 68, 68, 0.05);
  color: #5a5a5d;
  cursor: pointer;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.first-card-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  margin: 0 auto 8px auto;
}
.second-card-part {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#card1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  justify-content: center;
  align-items: center;
  padding: auto;
}
#card2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#card3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* Deals and discount section starts here */
.tour-package-container {
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.package-text-contents {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  padding: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.package-image-container {
  height: auto;
  width: 100%;
}
.package-image-container > div {
  height: 500px;
  justify-content: right;
  display: flex;
  background-image: url("../Images/Group\ 39.png");
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 16px;
}
.package-card {
  margin: 50px;
  width: 500px;
  height: 380px;
  padding: 24px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 16px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  border: 0;
  cursor: pointer;
}
#middle-card {
  /* this is just the middle package card */
  height: 500px;
  justify-content: start;
  display: flex;
  background-image: url("../Images/Group\ 40.png");
  background-repeat: no-repeat;
  object-fit: cover;
}
.icons-text {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}
.package-contents {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 15px;
  margin: 30px 0;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
.price-span {
  color: var(--span-color);
  font-weight: 800;
  font-size: 1.1rem;
  margin: 10px auto;
}
.package-title {
  color: #131318;
  font-size: 1.25rem;
  font-weight: 800;
}
.btn-div {
  display: flex;
  justify-content: center;
  margin: 27px auto;
}

/* Video section container's styling starts here */
.video-section-container {
  width: 80%;
  height: 84vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 30px auto;
}
.left-side-contents {
  color: cadetblue;
  margin: 50px 5px;
  padding: 20px;
  width: 90%;
  justify-content: left;
  align-items: center;
}
.left-side-contents > ul {
  display: block;
  margin: 20px;
  padding-left: 5px;
}
.left-side-contents ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #131318;
  font-weight: 700;
}
.left-side-wrapper {
  display: flex;
  width: 50%;
  height: 500px;
  padding: 30px auto;
  justify-content: left;
}
.left-side-contents .section-title {
  width: 70%;
  color: #131318;
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.left-side-contents .description-text {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
.right-side-video {
  height: auto;
  justify-content: center;
  align-items: end;
  width: 50%;
  display: flex;
}
.right-side-video iframe {
  width: 100%;
  max-height: 550px;
  margin: 50px;

  border-radius: 16px;
  background: linear-gradient(
    180deg,
    #131318 -31.96%,
    rgba(19, 19, 24, 0) 100%
  );
}

/* newsletter section */
.news-letter-container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side-div {
  width: 60%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ed2b2a;
  border-radius: 16px;
}
hr {
  background: rgba(19, 19, 24, 0.1);
  height: 1px;
  width: 100%;
  margin-top: 20px;
}
.news-letter-contents {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px auto;
}
.form-div-container {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-div input[type="text"],
input[type="email"] {
  width: 100%;
  height: 52px;
  padding: 16px 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 0;
  background: rgba(19, 19, 24, 0.05);
}
#subscribe-btn {
  width: 100%;
  height: 52px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 0;
  background-color: var(--button-color);
}

.right-side-div {
  height: auto;
  width: 100%;
  display: flex;
}
.right-side-div img {
  width: 100%;
  max-height: 550px;
  margin: 50px;
  position: static;
}
/* .orange-bar {
  width: 300px;
  height: 120px;
  transform: rotate(-19.628deg);
  background-color: #ff004d;
  border-radius: 16px;
  position: relative;
} */

/* footer section styles */
.footer-container {
  width: 100%;
  max-height: 500px;
  background: rgba(19, 19, 24, 0.05);

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.footer-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin-top: 100px;
}
.footer-icon-div img {
  width: 50px;
  height: 50px;
}
.footer-content-div {
  width: 60%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 20px auto;
}
.footer-social-links {
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}
.footer-hr {
  width: 80%;
  margin: 20px auto;
}
.footer-copyright {
  margin: 50px auto;
}
.footer-copyright small {
  color: #131318;
  font-size: 1rem;
  font-weight: 300;
}
